<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Welcome to <%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" /> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/boobase.js"></script>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= @api_key %>" type="text/javascript"></script>
  <script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=YD-eQRpTl0_JX2E95l_xAFs5UwZUlNQhhn7lj1H"></script>
  <script type="text/javascript">
  function initialize() {
	
    if (GBrowserIsCompatible()) {
	<% i = 0; mag = 15 %>
	  <% 1.upto(3) do |map| %>
	  	
	  var map<%= map %> = new GMap2(document.getElementById("map<%= map %>"));
      map<%= map %>.setCenter(new GLatLng(<%= @feed.entries[0].location.to_s.split(' ')[0]%>, <%= @feed.entries[0].location.to_s.split(' ')[1] %>), <%= mag %>);
      map<%= map %>.setUIToDefault();
      <% l = 1 %>
      <% for item in @feed.entries %>
	    <% unless !item.location %>
		var BooIcon = new GIcon(G_DEFAULT_ICON);
		BooIcon.image = '<%= 1== l ? "/images/icons/hot.png" : "/images/icons/audio.png" %>';
		markerOptions = { icon:BooIcon };
	     var point<%= i %> = new GLatLng(<%= item.location.to_s.split(' ')[0] %>, <%= item.location.to_s.split(' ')[1] %>);
	     var marker<%= i %> = new GMarker(point<%= i %>, markerOptions);
		 map<%= map %>.addOverlay(marker<%= i %>);
		 GEvent.addListener(marker<%= i %>, "mouseover", function() {
		  marker<%= i %>.openInfoWindowHtml("<p><strong><%= item.title.gsub(/\"/, '') %></strong><br /> a boo by <a href='/user/<%= item.author.gsub(/\"/, '') %>'><%= item.author.gsub(/\"/, '') %></a><% if map == 3 %><form action='/zoom' method='POST'><input type='hidden' name='long' value='<%= item.location.to_s.split(' ')[0] %>' /><input type='hidden' name='latitude' value='<%= item.location.to_s.split(' ')[1] %>' /><input type='hidden' name='longitude' value='<%= item.location.to_s.split(' ')[0] %>' /><input type='hidden' name='title' value='<%= item.title %>' /><input type='hidden' name='author' value='<%= item.author %>' /><input type='hidden' name='published' value='<%= item.published %>' /><input type='hidden' name='url' value='<%= item.url %>' /><input type='submit' value='zoom' /></form><% end %><br /><span style='font-size: 0.8em;'>recorded <%= item.published %><br /><% unless !item.tags %><strong>tags: </strong><% item.tags.chomp.split(',').each do |t| %><a href='/<%= t %>'><%= t %></a> | <% end %><% end %></span></p><object data='http://boos.audioboo.fm/swf/default_player.swf' height='60' id='iefix2' type='application/x-shockwave-flash' width='200'><param name='movie' value='http://boos.audioboo.fm/swf/default_player.swf' /><param name='scale' value='noscale' /><param name='salign' value='lt' /><param name='bgColor' value='#FFFFFF' /><param name='allowScriptAccess' value='always' /><param name='wmode' value='opaque' /><param name='FlashVars' value='mp3=<%= item.url %>.mp3&amp;mp3Author=<%= item.author %>' /></object><br /><br />");
		 });
	    <% end %>
	    <% i = i + 1;l = l + 1 %>
	    <% end %>
	<% mag = mag / 3 %>
  <% end %>
          }
  }
  </script>
  </head>
  <body onload="initialize()" onunload="GUnload()">
	
	<% unless @fullscreen %>
    
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">  
          <li>
            <h3>SEARCH BY TAG</h3>
            <ul class="links">
              <li>
	            <form action="/" method="POST">
		          <input type="text" name="tag" id="tag" />
		          <input type="submit" value="FIND TAGS" />
		        </form>
		      </li>
            </ul>
          </li>
		 <li>
            <h3>SEARCH FOR USER</h3>
            <ul class="links">
              <li>
	            <form action="/user" method="POST">
		          <input type="text" name="user" id="user" />
		          <input type="submit" value="FIND USER" />
		        </form>
		      </li>
            </ul>
          </li>
          <li>
            <h3>BOOBASE RADIO</h3>
            <ul class="links">
	         <div id="player">
             <object width="250" height="300" data="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" type="application/x-shockwave-flash">
				<param name="movie" value="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" />
				<param name="wmode" value="window" />
				<param name="quality" value="best" />
				<param name="align" value="left" />
				<param name="scale" value="noscale" />
				<param name="loop" value="false" />
				<param name="bgcolor" value="#000000" />
				<param name="allowFullScreen" value="false" />
				<param name="allowScriptAccess" value="always" />
				<param name="salign" value="TL" />
				<param name="FlashVars" value="size=playlist&amp;playerWidth=250&amp;playerHeight=300&amp;rssURL=<%= params[:embed_url] %>" /> 
		     </object>
		     </div>
            </ul>
          </li>
          <h3>TWITTER</h3>
		<script src="http://widgets.twimg.com/j/2/widget.js"></script><script>
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: '#<%= params[:tag] || "boobase" %>',
		  interval: 6000,
		  title: '<%= params[:tag] || "boobase" %> on',
		  subject: 'TWITTER',
		  width: 250,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#8ec1da',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: true,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    behavior: 'default'
		  }
		}).render().start();

		</script>
        </ul>
      </div>
      <div id="content">
        <div id="header">
	      <h1>Welcome to <%= @title %></h1>
	      <p>Welcome to boobase version <%= @version %> beta. Boobase is designed to be a lightweight tool for plotting tagged audioboos on
		  maps at various zoom levels. To turn the maps on and off, simply hit the toggle link above each one. All boos, including ones that
		  have not been geo-tagged, will be available in the <span id="highlight_player">embedded player to the right</span>, and we've decided to throw in a real-time Twitter
		  feed for good measure. <a href="http://twitter.com/boobase" target="_blank">Follow us</a>!</p>
		  <p><a href="/boobase">boobase news</a> | <a href="/recent">recent boos</a> | <a href="/featured">featured boos</a> | <a href="/popular">popular boos</a></p>
		  <p><a id="toggle_map1">toggle local map</a><% if params[:tag] %> | <a href="/bigscreen/<%= params[:tag] %>">full screen</a> | embed <input type="text" value="<iframe src='http://boobase.com/bigscreen/<%= params[:tag] %>' height=400 width=400></iframe>" /><% end %></p>
		  <div id="map1" style="width: 700px;height: 600px;"></div>
		  <p><a id="toggle_map2">toggle national map</a>
		  <div id="map2" style="width: 700px;height: 600px;"></div>
		  <p><a id="toggle_map3">toggle world map</a>
		  <div id="map3" style="width: 700px;height: 300px;"></div>
          <p><%= yield %></p>
        </div>
       </div>
      <div id="footer">boobase version <%= @version %> &copy; <%= @year %> <a href="http://buddhamag.net" target="_blank"> buddhamagnet</a> - built on <a href="http://www.sinatrarb.com/" target="_blank">sinatra</a></div>
    </div>

    <% else %>
    
      <p><a style="margin-left: 10px;" href="http://boobase.com/<%= params[:tag] %>">back to boobase</a><p>
      <div id="map1" class="bigscreen"></div>
    
    <% end %>

    <% if 'production' == @env %>
    
      <script type="text/javascript">
	    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
	    try {
	      var pageTracker = _gat._getTracker("UA-1031962-20");
	      pageTracker._trackPageview();
	    } catch(err) {}</script>
    
    <% end %>
  
  </body>
</html>