<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Welcome to <%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" /> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/boobase.js"></script>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= @api_key %>" type="text/javascript"></script>
  <script type="text/javascript">
  function initialize() {
    if (GBrowserIsCompatible()) {
	<% i = 0; mag = 15 %>
	  <% 1.upto(3) do |map| %>
	  	
	  var map<%= map %> = new GMap2(document.getElementById("map<%= map %>"));
      map<%= map %>.setCenter(new GLatLng(<%= @feed.entries.last.location.to_s.split(' ')[0]%>, <%= @feed.entries.last.location.to_s.split(' ')[1] %>), <%= mag %>);
      map<%= map %>.setUIToDefault();
      
      <% for item in @feed.entries %>
	    <% unless !item.location %>
	     var point = new GLatLng(<%= item.location.to_s.split(' ')[0] %>, <%= item.location.to_s.split(' ')[1] %>);
	     var marker<%= i %> = new GMarker(point);
		 map<%= map %>.addOverlay(marker<%= i %>);
		 GEvent.addListener(marker<%= i %>, "click", function() {
		  marker<%= i %>.openInfoWindowHtml("<p><strong><%= item.title %></strong><br /> a boo by <%= item.author %><br /><span style='font-size: 0.8em;'>recorded <%= item.published %></span></p><object data='http://boos.audioboo.fm/swf/default_player.swf' height='60' id='iefix2' type='application/x-shockwave-flash' width='200'><param name='movie' value='http://boos.audioboo.fm/swf/default_player.swf' /><param name='scale' value='noscale' /><param name='salign' value='lt' /><param name='bgColor' value='#FFFFFF' /><param name='allowScriptAccess' value='always' /><param name='wmode' value='opaque' /><param name='FlashVars' value='mp3=<%= item.url %>.mp3&amp;mp3Author=<%= item.author %>' /></object><br /><br />");
		});
	    <% end %>
	    <% i = i + 1 %>
	    <% end %>
	<% mag = mag / 3 %>
  <% end %>
          }
  }
  </script>
  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">  
          <li>
            <h3>SEARCH BY TAG</h3>
            <ul class="links">
              <li>
	            <form action="/tag" method="POST">
		          <input type="text" name="tag" id="tag" />
		          <input type="submit" value="GO FIND EM!" />
		        </form>
		      </li>
            </ul>
          </li>
          <li>
            <h3>BOOBASE RADIO</h3>
            <ul class="links">
             <object width="250" height="300" data="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" type="application/x-shockwave-flash">
				<param name="movie" value="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" />
				<param name="wmode" value="window" />
				<param name="quality" value="best" />
				<param name="align" value="left" />
				<param name="scale" value="noscale" />
				<param name="loop" value="false" />
				<param name="bgcolor" value="#000000" />
				<param name="allowFullScreen" value="false" />
				<param name="allowScriptAccess" value="always" />
				<param name="salign" value="TL" />
				<param name="FlashVars" value="size=playlist&amp;playerWidth=250&amp;playerHeight=300&amp;rssURL=http://audioboo.fm/tag/<%= params[:tag] || 'boobase' %>.atom" /> 
		     </object>
            </ul>
          </li>
          <h3>TWITTER</h3>
		<script src="http://widgets.twimg.com/j/2/widget.js"></script><script>
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: '#<%= params[:tag] || "boobase" %>',
		  interval: 6000,
		  title: '<%= params[:tag] || "boobase" %> on',
		  subject: 'TWITTER',
		  width: 250,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#8ec1da',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: true,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    behavior: 'default'
		  }
		}).render().start();

		</script>
		  <li>
            <h3>EMBED ME</h3>
            <ul class="links">
              <li>EMBEDS COMING SOON</li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="content">
        <div id="header">
	      <h1>Welcome to <%= @title %></h1>
	      <p>This is boobase version 2.0 beta. Search by tag and we'll plot matching boos on the local, national and global maps below (use the
		  toggle links to turn them on and off). Any boos that haven't been geotagged will appear in the player to the right, and just for good
		  measure we'll throw in some live tweets hashtagged with the same tag under that. This is the first version, so bear with us and feel
		  free to report bugs or request features - email buddhamagnet at gmail dot com. More coming soon!</p>
		  <h2 id="toggle_map">toggle local map</h2>
		  <div id="map1" style="width: 700px;height: 600px;"></div>
		  <h2 id="toggle_global_map">toggle national map</h2>
		  <div id="map2" style="width: 700px;height: 600px;"></div>
		  <h2 id="toggle_world_map">toggle world map</h2>
		  <div id="map3" style="width: 700px;height: 500px;"></div>
          <p><%= yield %></p>
        </div>
       </div>
      <div id="footer">boobase version <%= @version %> &copy; <%= @year %> <a href="http://buddhamag.net" target="_blank"> buddhamagnet</a> - built on <a href="http://www.sinatrarb.com/" target="_blank">sinatra</a></div>
    </div>
  </body>
</html>