<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Welcome to <%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" /> 
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= @api_key %>" type="text/javascript"></script>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">  
          <li>
            <h3>SEARCH</h3>
            <ul class="links">
              <li><a href="#">...</a></li>
            </ul>
          </li>
          <li>
            <h3>BOOBASE RADIO</h3>
            <ul class="links">
             <object width="250" height="300" data="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" type="application/x-shockwave-flash">
				<param name="movie" value="http://boos.audioboo.fm/swf/playlist_player_glastonbury.swf" />
				<param name="wmode" value="window" />
				<param name="quality" value="best" />
				<param name="align" value="left" />
				<param name="scale" value="noscale" />
				<param name="loop" value="false" />
				<param name="bgcolor" value="#000000" />
				<param name="allowFullScreen" value="false" />
				<param name="allowScriptAccess" value="always" />
				<param name="salign" value="TL" />
				<param name="FlashVars" value="size=playlist&amp;playerWidth=250&amp;playerHeight=300&amp;rssURL=http://audioboo.fm/tag/boobase.atom" /> 
		     </object>
            </ul>
          </li>
		  <li>
            <h3>EMBED ME</h3>
            <ul class="links">
              <li><a href="#">...</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="content">
        <div id="header">
	      <h1>Welcome to <%= @title %></h1>
	      <p>Boobase is dead. Long live boobase. Stripped down and minimal, we have taken the heart of boobase - the map - and reworked the
		  original idea using Sinatra, the lean Ruby microframework. OK, that may not mean much to many of you, but it means we can be agile,
		  lightweight and focus on making the map as clean and responsive as possible. The tool will be tag-driven and soon we'll give you
		  some embedding options so you can plug the map into your favourite mess. How sleazy.</p>
		  <iframe width="700" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London&amp;ie=UTF8&amp;hq=&amp;hnear=London&amp;z=14&amp;output=embed"></iframe>
          <p><%= yield %></p>
        </div>
       </div>
      <div id="footer">&copy; <%= @year %> <a href="http://buddhamag.net" target="_blank">buddhamagnet</a></div>
    </div>
  </body>
</html>